---
import ExperienceCard from '../../components/ExperienceCard.astro';
import Card from '../../components/Card.astro';

const data = [
  {
    title: "Teaching Assistant",
    at: "Fasilkom UI",
    atLink: "https://cs.ui.ac.id",
    time: "Jul 2024 - Present",
    description: [
      "Assisted in Programming Basics 2 using Java course, helping students understand OOP concepts and problem solving skills.",
      "Assisted in Introduction to Digital Systems course, helping students understand logic circuits and digital design.",
    ]
  },
  {
    title: "PIC of IT Development",
    at: "Open House Fasilkom UI 2024",
    atLink: "https://oh.cs.ui.ac.id",
    time: "Jul 2024 - Nov 2024",
    description: [
      "Led the development of a web platform that handled 2000+ users with 1000+ online tickets registrations.",
      "Optimized service to handle 70+ concurrent users, ensuring user experience.",
      "Developed participant and ambassador registration systems with an efficient workflow.",
    ]
  },
  {
    title: "Software Engineer Staff",
    at: "Business and Partnerships BEM Fasilkom UI",
    atLink: "https://bem.cs.ui.ac.id",
    time: "Jun 2024 - Jan 2025",
    description: [
      "Mentored 6 students at SBF (Sekolah BEM Fasilkom) in software engineering.",
      "Guided students in real world software engineering challenges, including version control and collaboration workflows."
    ]
  },
  {
    title: "Backend Developer Staff",
    at: "Green Welfare Indonesia",
    atLink: "https://www.greenwelfare.org",
    time: "Jun 2024 - Jan 2025",
    description: [
      "Developed the backend infrastructure using Go, Gin, and Gorm.",
    ]
  },
  {
    title: "Software Engineering Academy Expert Staff",
    at: "COMPFEST 16",
    atLink: "https://compfest.id",
    time: "Feb 2024 - Sep 2024",
    description: [
      "Assisted in organizing and executing the Software Engineering Academy (SEA).",
      "Contributed to SEA's curriculum development to improve participants' technical skills.",
      "Designed and evaluated selection tasks to assess participants' proficiency in software engineering.",
      "Developed the final project task, challenging participants to apply their knowledge to solve real-world problems.",
    ]
  },
  {
    title: "IT Development Staff",
    at: "Open House Fasilkom UI 2023",
    atLink: "https://oh.cs.ui.ac.id",
    time: "Aug 2023 - Nov 2023",
    description: [
      "Implemented a responsive design using Next.js and TailwindCSS.",
      "Collaborated in developing the Open House Fasilkom UI 2023 website.",
    ]
  }
]
---

<section id="experiences">
  <div class="experiences-sidebar">
    <Card title="My Experiences">
      Here's a sneak peek into my journey! I've been involved in many
      student-led organization and events. Beyond that, I've played a role in
      education as a teaching assistant for some CS courses at campus.
    </Card>
  </div>
  <div class="experiences-list">
    {
      data.map((d) => (
        <ExperienceCard
          title={d.title}
          at={d.at}
          atLink={d.atLink}
          time={d.time}
          description={d.description}
        />
      ))
    }
  </div>
</section>

<style>
#experiences {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 2fr;
  }

  .experiences-sidebar {
    background-color: var(--blue-300);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
    top: 0;

    border-bottom-width: 2px;
    border-style: solid;
    border-color: black;

    @media (max-width: 1280px) {
      border-right: none;
    }

    @media (min-width: 1280px) {
      position: sticky;
      border-right: 2px solid black;
    }
  }

  .experiences-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & > :not(:last-child) {
    border-inline-start-width: 0px;
    border-inline-end-width: 2px;
    border-color: black;
  }

  & > * {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: 1280px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
    @media (min-width: 640px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}
</style>
