---
import { getCollection } from "astro:content";
import { GithubIcon } from "astro-feather";
import Card from "../../components/Card.astro";

const data = await getCollection("projects");
---

<section id="projects">
  <div class="projects-sidebar">
    <Card title="My Projects">
      <p>
        Here's a sneak peek into some of my open source projects that I've
        built! I have a strong interest in systems programming and programming
        language theory.
      </p>
    </Card>
  </div>
  <div class="projects-list">
    {
      data.map((d) => (
        <div id="container">
          <div id="titlebar">
            <h1>{d.id}</h1>
            <div id="links">
              {d.data.links.map((link) => (
                <a href={link.href} target="_blank" rel="noopener noreferrer" aria-label={link.label}>
                  <GithubIcon />
                </a>
              ))}
            </div>
          </div>
          <div id="content">
            <p>{d.data.description}</p>
            <div class="tags">
              {d.data.tags.map((tag) => <p class="tags-content">{tag}</p>)}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
@use '../styles/mixins' as *;

div#container {
  box-shadow: var(--hard-shadow);
  border-radius: var(--rounded);

  & > div#titlebar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    background-color: var(--orange-400);

    border-color: black;
    border-width: 2px;
    border-radius: var(--rounded) var(--rounded) 0 0;
    
    & > div#links {
      display: flex;
      justify-content: end;
    }
  }

  & > div#content {
    padding: 1rem 1.5rem 1.5rem 1.5rem;

    background-color: white;

    border-bottom-left-radius: var(--rounded);
    border-bottom-right-radius: var(--rounded);
    border-width: 0 2px 2px 2px;
    border-color: black;

    & > div.tags {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;

      & > .tags-content {
        @include font-size(sm);
        border: 2px solid black;
        border-radius: var(--rounded);
        padding: 0.25rem 1rem;
        background-color: var(--red-300);
      }
    }
  }
}

#projects {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 2fr;
  }

  .projects-sidebar {
    background-color: var(--red-300);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
    top: 0;

    border-bottom-width: 2px;
    border-style: solid;
    border-color: black;

    @media (max-width: 1280px) {
      border-top: 2px solid black;
      border-right: none;
    }

    @media (min-width: 1280px) {
      position: sticky;
      border-right: 2px solid black;
    }
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & > :not(:last-child) {
    border-inline-start-width: 0px;
    border-inline-end-width: 2px;
    border-color: black;
  }

  & > * {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: 1280px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
    @media (min-width: 640px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}
</style>
