---
import { getCollection } from 'astro:content';
import { ExternalLinkIcon, GithubIcon, LinkedinIcon, TwitterIcon } from 'astro-feather';
import NavbarLayout from '../layouts/NavbarLayout.astro';
import BlueskyIcon from '../components/BlueskyIcon.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';

const experiences = await getCollection("experiences");
const projects = await getCollection("projects");
---

<NavbarLayout>
  <section id="hero">
    <div id="container">
      <Card title="Hello, World!">
        <p>My name is</p>
        <h1 id="name">Vito Secona</h1>
      </Card>
      <Card disableTitlebar>
        <p>Software Engineer</p>
      </Card>
    </div>
  </section>

  <section id="introduction">
    <div id="container">
      <Card title="Introduction">
        <p>
          Hello, everyone! My name is Vito. I am a second-year undergraduate student at
          Universitas Indonesia. I have a strong interest in systems programming and
          software engineering research.
        </p>
        <br />
        <p>
          I have been programming using Rust, JS/TS, Python, and Go. While I have most
          experiences in web development, I have made Rust my main focus in my software
          engineering career, focusing on systems development and compiler development.
        </p>
      </Card>
      <a id="cv-link" href="/secona-cv.pdf" target="_blank" rel="noopener noreferrer">
        <span>View My CV</span> <ExternalLinkIcon />
      </a>
    </div>
  </section>

  <section id="experiences">
    <div id="experiences-sidebar">
      <Card title="My Experiences">
        Here's a sneak peek into my journey! I've been involved in many
        student-led organization and events. Beyond that, I've played a role in
        education as a teaching assistant for some CS courses at campus.
      </Card>
    </div>
    <div id="experiences-list">
      {
        experiences
          .filter(({ data: { show } }) => show)
          .map(({ data: { time, title, description, at, atLink }}) => (
            <Card disableTitlebar>
              <h1>{title} @ <a id="at" target="_blank" rel="noopener noreferrer" href={atLink}>{at}</a></h1>
              <p id="duration">{time}</p>
              <ul id="list">
                {description.map((des) => <li>{des}</li>)}
              </ul>
            </Card>
          ))
      }
    </div>
  </section>

  <section id="projects">
    <div id="projects-sidebar">
      <Card title="My Projects">
        <p>
          Here's a sneak peek into some of my open source projects that I've
          built! I have a strong interest in systems programming and programming
          language theory.
        </p>
      </Card>
    </div>
    <div id="projects-list">
      {
        projects.map(({ data, id }) => (
          <Card disableTitlebar>
            <h1 id="project-title">
              <a id="project-link" href={data.links[0].href} target="_blank" rel="noopener noreferrer">
                {id}
              </a>
            </h1>
            <p>{data.description}</p>
            <div id="project-tags">
              {data.tags.map((tag) => <p id="project-tag">{tag}</p>)}
            </div>
          </Card>
        ))
      }
    </div>
  </section>

  <section id="contacts">
    <div id="container">
      <Card title="My Socials">
        <p id="contacts-greetings">
          Let's connect! You can find me on these platforms, but I am most active
          on my Twitter (X) account where I share insights on tech, my projects,
          and what I'm currently working on. Feel free to reach out!
        </p>
      </Card>
      <div id="contacts-links">
        <a class="contact-link github" href="https://github.com/secona" target="_blank" rel="noopener noreferrer" >
          <GithubIcon />
          <p>@secona</p>
        </a>
        <a class="contact-link linkedin" href="https://linkedin.com/in/secona" target="_blank" rel="noopener noreferrer">
          <LinkedinIcon />
          <p>@secona</p>
        </a>
        <a class="contact-link twitter" href="https://x.com/secona0" target="_blank" rel="noopener noreferrer">
          <TwitterIcon />
          <p>@secona0</p>
        </a>
        <a class="contact-link bsky" href="https://bsky.app/profile/secona.dev" target="_blank" rel="noopener noreferrer">
          <BlueskyIcon />
          <p>@secona.dev</p>
        </a>
      </div>
    </div>
  </section>

  <Footer />
</NavbarLayout>

<style lang="scss">
@use '../styles/mixins' as *;

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;

  #container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  #name {
    @media (min-width: 640px) {
      @include font-size(5xl);
    }

    @media (max-width: 640px) {
      @include font-size(3xl);
    }
  }

  #title {
    padding: 0.5rem 1rem;
    background-color: white;
    border: 2px solid black;
    box-shadow: var(--hard-shadow);
    border-radius: var(--rounded);
  }
}

#introduction {
  background-color: var(--yellow-300);

  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  border-width: 2px 0;
  border-color: black;

  #container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: flex-end;
    max-width: 64rem;
  }

  #cv-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;

    background-color: white;
    box-shadow: var(--hard-shadow);

    border-width: 2px;
    border-color: black;
    border-radius: 0.5rem;
  }

  & > * {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: 1280px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
    @media (min-width: 640px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @media (min-width: 768px) {
      padding-left: 7rem;
      padding-right: 7rem;
    }
  }
}

#experiences {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;

  #experiences-sidebar {
    background-color: var(--blue-300);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
    top: 0;

    border-bottom-width: 2px;
    border-style: solid;
    border-color: black;

    @media (max-width: 1280px) {
      border-right: none;
    }

    @media (min-width: 1280px) {
      position: sticky;
      border-right: 2px solid black;
    }
  }

  #experiences-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    #duration {
      color: var(--gray-500);
      @include font-size(sm);
    }

    #at {
      color: var(--blue-600);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & > * {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &:not(:last-child) {
      border-inline-start-width: 0px;
      border-inline-end-width: 2px;
      border-color: black;
    }

    @media (min-width: 1280px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
    @media (min-width: 640px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 2fr;
  }
}

#projects {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 2fr;
  }

  #projects-sidebar {
    background-color: var(--red-300);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
    top: 0;

    border-bottom-width: 2px;
    border-style: solid;
    border-color: black;

    @media (max-width: 1280px) {
      border-top: 2px solid black;
      border-right: none;
    }

    @media (min-width: 1280px) {
      position: sticky;
      border-right: 2px solid black;
    }
  }

  #projects-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    #project-title {
      margin-bottom: 0.5rem;
    }

    #project-link {
      color: var(--blue-600);

      &:hover {
        text-decoration: underline;
      }
    }

    #project-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 1rem;

      #project-tag {
        @include font-size(sm);
        border: 2px solid black;
        border-radius: var(--rounded);
        padding: 0.25rem 0.5rem;
        background-color: var(--red-300);
      }
    }
  }

  & > * {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &:not(:last-child) {
      border-inline-start-width: 0px;
      border-inline-end-width: 2px;
      border-color: black;
    }

    @media (min-width: 1280px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
    @media (min-width: 640px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}

#contacts {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: transparent;
  padding: 0 1.5rem;

  #container {
    display: flex;
    gap: 1.5rem;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: start;
    }

    @media (max-width: 768px) {
      align-items: stretch;
      flex-direction: column;
    }

    #contacts-greetings {
      max-width: 24rem;
    }

    #contacts-links {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        gap: 1rem;
      }

      @media (max-width: 768px) {
        gap: 0.5rem;
      }

      .contact-link {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        color: white;

        border-width: 2px;
        border-color: black;
        border-radius: var(--rounded);

        padding: 0.5rem 1.5rem;

        box-shadow: var(--hard-shadow);

        &.github { background-color: #333333; }
        &.linkedin { background-color: #0077b5; }
        &.twitter { background-color: #1DA1F2; }
        &.bsky { background-color: #0085ff; }
      }
    }
  }
}
</style>
